div {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.main-bg {
    width: 100vw;
    height: 100vw;
    font-family: 'Lato';
}
.Landing-bg1 {
    width: 100vw;
    height: 400px;
    background: linear-gradient(rgb(0, 153, 255), rgb(53, 27, 197));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 1200px; */
}
.Landing-bg2 {
    width: 100vw;
    height: 100px;
    text-align: center;
}
.Landing-bg3 {
    width: 100vw;
    height: 300px;
    background: rgb(53, 27, 197);
    color: white;
}


.Landing-bg1-text {
    width: 50vw;
    height: 400px;
    color: white;
}
.text {
    margin-left: 70px;
    margin-top: 50px;
}
.Landing-bg1-text p {
    font-size: 15px;
    margin-left: 70px;
}
.Landing-bg1-img {
    width: 50vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Landing-bg1-btn {
    width: 100px;
    height: 40px;
    background: rgb(112, 109, 109);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-left: 70px;
}
.Landing-bg1-btn:hover {
    background-color: rgb(68, 67, 67);
}
.iphone {
    width: 300px;
    height: 300px;
    margin-top: 100px;
}
.Landing-bg2-btn {
    width: 130px;
    height: 40px;
    background: rgb(112, 109, 109);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.Landing-bg2-btn:hover {
    background-color: rgb(68, 67, 67);
}
.Landing-bg3-text {
    width: 100%;
    height: 30%;
    text-align: center;
}
.Landing-bg3-icon {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Landing-icon {
    margin: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
}
.Landing-icon i {
    padding-top: 20px;
    width: 90px;
    height: 70px;
    background: white;
    border: none;
    border-radius: 100%;
    color: rgb(0, 19, 128);
}
.Landing-bg3-icon h4 {
    margin-top: 5px;
    margin-bottom: -10px;
}
.Landing-bg3-icon p {
    font-size: 12px;
}

.Landing-bg4-head {
    text-align: center;
    margin-bottom: 40px;
    margin-top: -20px;
}
.Landing-bg4-head p {
    margin-top: 50px;
    font-size: 13px;
}
.Landing-bg4-head h4 {
    margin-top: -15px;
}
.Landing-bg4-mid {
    width: 100vw;
    height: 600px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Landing-bg4-img {
    width: 45vw;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}
.img{
    width: 45vw;
    height: 300px;
    display: block;
}
.Landing-bg4-img p{
    margin-top: 60px;
    font-size: 12px;
}
.imtext {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    color: white;
}
.Landing-bg4-footer {
    margin-top: 50px;
    text-align: center;
}
.Landing-bg4-footer a {
    width: 60px;
    height: 50px;
    margin: 20px;
    background: rgb(53, 27, 197);
    color: white;
    border: none;
    border-radius: 100%;
    padding-top: 15px;
    text-decoration-line: none;
}
.white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: 0px solid white;
    transition: all 1s;
}
.white-box:hover {
    border: 20px solid white;
}

@media screen and (max-width: 576px) {
    .text {
        margin-left: 0px;
        margin-top: 50px;
    }
    .Landing-bg1-text p {
        margin-left: 0px;
    }
    .Landing-bg1-text {
        width: 100vw;
        text-align: center;
    }
    .Landing-bg1-btn {
        margin-left: 0px;
    }
    .Landing-bg1-img {
        width: 100vw;
    }
    .iphone {
        margin-top: -450px;
    }
    .Landing-bg1 {
        height: 525px;
    }
    .Landing-bg2 {
        height: 110px;
    }
    .Landing-bg3 {
        height: 500px;
    }
    .Landing-bg3-text {
        margin-bottom: -50px;
    }
    .Landing-bg4-head {
        margin-top: -20px;
    }
    .Landing-bg4-img {
        width: 100vw;
    }
    .Landing-bg4-img img{
        width: 100vw;
    }
    .Landing-bg4-footer {
        margin-top: 600px;
    }
}


/* 1. body에 margin: 0을 주고 시작할 것
2. box-sizing: border-box로 시작할 것
3. max-width 고려할 것
4. 버튼 클래스 분리 (뼈대와 색상)
5. position 고려
6. background-image: url()
7. 틴트
8. z-index */